In [1]:
# Run this in Python once, it should take effect permanently
from notebook.services.config import ConfigManager
c = ConfigManager()
c.update('notebook', {"CodeCell": {"cm_config": {"autoCloseBrackets": False}}})

{'CodeCell': {'cm_config': {'autoCloseBrackets': False}}}

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data_values = pd.read_csv("data/training_set_values.csv")
data_labels = pd.read_csv("data/training_set_labels.csv")

test_set_values = pd.read_csv("data/test_set_values.csv")

In [4]:
user_id = ["id"]
X_cols = ['amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group']
Y_col = ["status_group"]

In [5]:
Users = data_values[user_id]
X = data_values[X_cols]
Y = data_labels[Y_col]

X_test = test_set_values[X_cols]
X_test_users = test_set_values[user_id]

In [6]:
status_group_map = {"status_group": {"functional": 0, "functional needs repair": 1,"non functional": 2}}
Y = Y.replace(status_group_map)
# Y

In [7]:
df = pd.concat([ Users,Y, X], axis=1)
# X_test = pd.concat([X_test_users, X_test], axis=1)
df

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,0,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,2,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,0,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

## Handling Missing Data

In [8]:
# df.dtypes

In [9]:
columns_with_nan_train = df.columns[df.isna().any()].tolist()
print("Columns with Missing Values in Train Dataset : ")
columns_with_nan_train

Columns with Missing Values in Train Dataset :

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [10]:
missing_df = df[columns_with_nan_train]
missing_df

,funder,installer,subvillage,public_meeting,scheme_management,scheme_name,permit
0,Roman,Roman,Mnyusi B,True,VWC,Roman,False
1,Grumeti,GRUMETI,Nyamara,NaN,Other,NaN,True
2,Lottery Club,World vision,Majengo,True,VWC,Nyumba ya mungu pipe scheme,True
3,Unicef,UNICEF,Mahakamani,True,VWC,NaN,True
4,Action In A,Artisan,Kyanyamisa,True,NaN,NaN,True
...,...,...,...,...,...,...,...
59395,Germany Republi,CES,Kiduruni,True,Water Board,Losaa Kia water supply,True
59396,Cefa-njombe,Cefa,Igumbilo,True,VWC,Ikondo electrical water sch,True
59397,NaN,NaN,Madungulu,True,VWC,NaN,False
59398,Malec,Musa,Mwinyi,True,VWC,NaN,True
59399,World Bank,World,Kikatanyemba,True,VWC,NaN,True

In [11]:
missing_df.isna().sum()

funder                3635
installer             3655
subvillage             371
public_meeting        3334
scheme_management     3877
scheme_name          28166
permit                3056
dtype: int64

In [12]:
missing_df.dtypes

funder               object
installer            object
subvillage           object
public_meeting       object
scheme_management    object
scheme_name          object
permit               object
dtype: object

In [13]:
# Drop the column 'scheme_name' since it has 28166 missing data cant impute such big number
# and scheme_name is not much important for prediction

df_dropped = df.drop('scheme_name', axis = 1)
test_df_dropped = X_test.drop('scheme_name', axis = 1)

In [14]:
# Drop the rows with missing data or nan
# df_dropped = df_dropped.dropna()

#Drop cols with missing values
cols_with_missing = ["funder","installer","subvillage","public_meeting","scheme_management","permit"]
df_dropped = df_dropped.drop(cols_with_missing, axis=1)
test_df_dropped = test_df_dropped.drop(cols_with_missing, axis=1)

In [15]:
# df_dropped.isna().sum()

### Impute values

In [16]:
# df_dropped

In [17]:
# df["funder"] = df["funder"].astype('category')
# df['funder'] = df['funder'].fillna((df['funder'].median()))

# df = df_dropped.fillna("missing")
# X_test = test_df_dropped.fillna("missing")
# df_dropped.isna().sum()

In [18]:
df

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,0,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,2,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,0,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [19]:
X_test

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,Wami / Ruvu,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14846,1000.0,2011-03-21,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,Pangani,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14847,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,Internal,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
14848,0.0,2013-02-18,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,Lake Nyasa,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
14849,0.0,2013-02-13,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,Lake Nyasa,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

In [20]:
# Impute values



# df = pd.get_dummies(df_dropped['funder',
#  'installer',
#  'subvillage',
#  'public_meeting',
#  'scheme_management',
#  'permit'])

def impute_missing_data_using_mean(dataframe, columns):

    for col in columns:
        if (dataframe[col].dtype != np.object ):
            dataframe[col] = dataframe[col].fillna((dataframe[col].mean()))
            print("Imputed with mean: ", col)
        print("Not Imputed with mean: ", col, dataframe[col].dtype)

    return dataframe

# train_data = impute_missing_data_using_mean(df,columns_with_nan_train)

In [21]:
df = df_dropped
X_test = test_df_dropped
# df
# X_test

In [22]:
# df.isna().sum()

## Encoding

In [23]:
# columns with data type `object` needs to be encoded

obj_df = df.select_dtypes(include=['object']).copy()
test_obj_df = X_test.select_dtypes(include=['object']).copy()
# obj_df
test_obj_df

,date_recorded,wpt_name,basin,region,lga,ward,recorded_by,extraction_type,extraction_type_group,extraction_type_class,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2013-02-04,Dinamu Secondary School,Internal,Manyara,Mbulu,Bashay,GeoData Consultants Ltd,other,other,other,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,2013-02-04,Kimnyak,Pangani,Arusha,Arusha Rural,Kimnyaki,GeoData Consultants Ltd,gravity,gravity,gravity,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,2013-02-01,Puma Secondary,Internal,Singida,Singida Rural,Puma,GeoData Consultants Ltd,other,other,other,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,2013-01-22,Kwa Mzee Pange,Ruvuma / Southern Coast,Lindi,Liwale,Mkutano,GeoData Consultants Ltd,other,other,other,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,2013-03-27,Kwa Mzee Turuka,Ruvuma / Southern Coast,Ruvuma,Mbinga,Mbinga Urban,GeoData Consultants Ltd,gravity,gravity,gravity,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,2011-02-24,Kwambwezi,Wami / Ruvu,Pwani,Bagamoyo,Yombo,GeoData Consultants Ltd,mono,mono,motorpump,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14846,2011-03-21,Bonde La Mkondoa,Pangani,Tanga,Kilindi,Mvungwe,GeoData Consultants Ltd,nira/tanira,nira/tanira,handpump,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14847,2013-03-04,Bwawani,Internal,Singida,Singida Rural,Ughandi,GeoData Consultants Ltd,gravity,gravity,gravity,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
14848,2013-02-18,Kwa John,Lake Nyasa,Ruvuma,Songea Rural,Maposeni,GeoData Consultants Ltd,gravity,gravity,gravity,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
14849,2013-02-13,Kwa Mzee Chagala,Lake Nyasa,Ruvuma,Mbinga,Mbamba bay,GeoData Consultants Ltd,gravity,gravity,gravity,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

In [24]:
# obj_df.nunique()
test_obj_df.nunique()

date_recorded              331
wpt_name                 10840
basin                        9
region                      21
lga                        125
ward                      1959
recorded_by                  1
extraction_type             17
extraction_type_group       13
extraction_type_class        7
management                  12
management_group             5
payment                      7
payment_type                 7
water_quality                8
quality_group                6
quantity                     5
quantity_group               5
source                      10
source_type                  7
source_class                 3
waterpoint_type              7
waterpoint_type_group        6
dtype: int64

### Label Encoding

In [25]:
obj_df.columns

Index(['date_recorded', 'wpt_name', 'basin', 'region', 'lga', 'ward',
       'recorded_by', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'payment_type', 'water_quality', 'quality_group', 'quantity',
       'quantity_group', 'source', 'source_type', 'source_class',
       'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [26]:
# df

In [27]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

# ord_enc = OrdinalEncoder()
# obj_df["waterpoint_type_group_code"] = ord_enc.fit_transform(obj_df[["waterpoint_type_group"]])
# obj_df[["waterpoint_type_group", "waterpoint_type_group_code"]].head(11)

obj_df = obj_df.apply(LabelEncoder().fit_transform)
test_obj_df = test_obj_df.apply(LabelEncoder().fit_transform)
test_obj_df

,date_recorded,wpt_name,basin,region,lga,ward,recorded_by,extraction_type,extraction_type_group,extraction_type_class,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,255,656,0,8,63,17,0,9,6,3,...,2,6,2,3,3,5,3,1,6,5
1,255,1780,5,0,0,650,0,3,1,0,...,2,6,2,2,2,8,6,0,1,1
2,252,9673,0,18,109,1677,0,9,6,3,...,2,6,2,2,2,5,3,1,6,5
3,242,5595,7,7,49,1192,0,9,6,3,...,6,6,2,0,0,7,5,0,6,5
4,306,5706,7,16,61,1075,0,3,1,0,...,1,6,2,1,1,8,6,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,28,7223,8,14,3,1948,0,7,4,2,...,2,6,2,1,1,6,4,1,1,1
14846,53,332,5,20,33,1350,0,8,5,1,...,0,4,4,2,2,7,5,0,4,3
14847,283,457,0,18,109,1868,0,3,1,0,...,2,6,2,2,2,0,1,1,1,1
14848,269,3438,1,16,111,998,0,3,1,0,...,2,6,2,2,2,6,4,1,1,1
14849,264,5054,1,16,61,1062,0,3,1,0,...,2,6,2,0,0,8,6,0,1,1

In [28]:
# encoded_cols = [ 'date_recorded', 'funder', 'installer', 'wpt_name',
#        'basin', 'subvillage', 'region', 'lga', 'ward', 'public_meeting',
#        'recorded_by', 'scheme_management', 'permit', 'extraction_type',
#        'extraction_type_group', 'extraction_type_class', 'management',
#        'management_group', 'payment', 'payment_type', 'water_quality',
#        'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
#        'source_class', 'waterpoint_type', 'waterpoint_type_group']
encoded_cols = obj_df.columns
df[encoded_cols] = obj_df[encoded_cols] 
X_test[encoded_cols] = test_obj_df[encoded_cols]

In [29]:
df

,id,status_group,amount_tsh,date_recorded,gps_height,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,47,1390,34.938093,-9.856322,37399,0,1,...,0,6,2,1,1,8,6,0,1,1
1,8776,0,0.0,309,1399,34.698766,-2.147466,37195,0,4,...,2,6,2,2,2,5,3,1,1,1
2,34310,0,25.0,300,686,37.460664,-3.821329,14572,0,5,...,5,6,2,1,1,0,1,1,2,1
3,67743,2,0.0,272,263,38.486161,-11.155298,37285,0,7,...,2,6,2,0,0,3,0,0,2,1
4,19728,0,0.0,104,0,31.130847,-1.825359,35529,0,4,...,2,6,2,3,3,5,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,338,1210,37.169807,-3.253847,513,0,5,...,5,6,2,1,1,8,6,0,1,1
59396,27263,0,4700.0,90,1212,35.249991,-9.070629,24074,0,6,...,0,6,2,1,1,6,4,1,1,1
59397,37057,0,0.0,75,0,34.017087,-8.750434,27926,0,6,...,1,1,1,1,1,3,0,0,4,3
59398,31282,0,0.0,41,0,35.861315,-6.378573,29693,0,6,...,2,6,2,2,2,7,5,0,4,3
59399,26348,0,0.0,56,191,38.104048,-6.747464,18700,0,8,...,3,4,4,1,1,7,5,0,4,3

In [30]:
X_test

,amount_tsh,date_recorded,gps_height,longitude,latitude,wpt_name,num_private,basin,region,region_code,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0.0,255,1996,35.290799,-4.059696,656,0,0,8,21,...,2,6,2,3,3,5,3,1,6,5
1,0.0,255,1569,36.656709,-3.309214,1780,0,5,0,2,...,2,6,2,2,2,8,6,0,1,1
2,0.0,252,1567,34.767863,-5.004344,9673,0,0,18,13,...,2,6,2,2,2,5,3,1,6,5
3,0.0,242,267,38.058046,-9.418672,5595,0,7,7,80,...,6,6,2,0,0,7,5,0,6,5
4,500.0,306,1260,35.006123,-10.950412,5706,0,7,16,10,...,1,6,2,1,1,8,6,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,0.0,28,34,38.852669,-6.582841,7223,0,8,14,6,...,2,6,2,1,1,6,4,1,1,1
14846,1000.0,53,0,37.451633,-5.350428,332,0,5,20,4,...,0,4,4,2,2,7,5,0,4,3
14847,0.0,283,1476,34.739804,-4.585587,457,0,0,18,13,...,2,6,2,2,2,0,1,1,1,1
14848,0.0,269,998,35.432732,-10.584159,3438,0,1,16,10,...,2,6,2,2,2,6,4,1,1,1
14849,0.0,264,481,34.765054,-11.226012,5054,0,1,16,10,...,2,6,2,0,0,8,6,0,1,1

# Training

## Random Forest

In [31]:
from sklearn import ensemble
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score, \
    f1_score, roc_auc_score, confusion_matrix

def rf_multi_class(x_train, y_train, x_test, y_test,test_set_values, test_users):
    print("\n[RF]")
    rf_clf = ensemble.RandomForestClassifier(n_estimators=200)

    rf_clf.fit(x_train, y_train.values.ravel())
    
    predictions = rf_clf.predict(test_set_values)
    status_group_map_reverse = {"status_group": {0:"functional", 1: "functional needs repair",2: "non functional"}}
    
    predictions_output = pd.DataFrame({'id': test_users["id"], 'status_group': predictions})
    predictions_output = predictions_output.replace(status_group_map_reverse)
    print(predictions_output)
    predictions_output.to_csv('my_submission.csv', index=False)
    print("Submission was successfully saved!\n")

    # rf_score = rf_clf.score(x_test, y_test)

    y_pred_test = rf_clf.predict(x_test)
    print(classification_report(y_test, y_pred_test))

    accuracy = accuracy_score(y_test, y_pred_test)
    print('Accuracy: %f' % accuracy)

    precision = precision_score(y_test, y_pred_test, average='micro')
#     print('Precision: %f' % precision)

    recall = recall_score(y_test, y_pred_test, average='micro')
#     print('Recall: %f' % recall)

    f1 = f1_score(y_test, y_pred_test, average='micro')
#     print('F1 score: %f' % f1)

    # auc = roc_auc_score(y_test, y_pred_test)
    # print('ROC AUC: %f' % auc)

    # matrix = confusion_matrix(y_test, y_pred_test)
    # print(matrix)

    return [accuracy, precision, recall, f1, predictions]

In [32]:
# df

In [33]:
df["status_group"].value_counts()

0    32259
2    22824
1     4317
Name: status_group, dtype: int64

In [34]:
y = df[["status_group"]]
X = df.drop(["id","status_group"], axis=1)

In [35]:
# Drop not wanted columns
# X = X.drop(["date_recorded"],axis = 1)

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.05)
print(X_train.shape, X_validation.shape, y_train.shape, y_validation.shape)

(56430, 32) (2970, 32) (56430, 1) (2970, 1)

In [37]:
X_test

,amount_tsh,date_recorded,gps_height,longitude,latitude,wpt_name,num_private,basin,region,region_code,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0.0,255,1996,35.290799,-4.059696,656,0,0,8,21,...,2,6,2,3,3,5,3,1,6,5
1,0.0,255,1569,36.656709,-3.309214,1780,0,5,0,2,...,2,6,2,2,2,8,6,0,1,1
2,0.0,252,1567,34.767863,-5.004344,9673,0,0,18,13,...,2,6,2,2,2,5,3,1,6,5
3,0.0,242,267,38.058046,-9.418672,5595,0,7,7,80,...,6,6,2,0,0,7,5,0,6,5
4,500.0,306,1260,35.006123,-10.950412,5706,0,7,16,10,...,1,6,2,1,1,8,6,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,0.0,28,34,38.852669,-6.582841,7223,0,8,14,6,...,2,6,2,1,1,6,4,1,1,1
14846,1000.0,53,0,37.451633,-5.350428,332,0,5,20,4,...,0,4,4,2,2,7,5,0,4,3
14847,0.0,283,1476,34.739804,-4.585587,457,0,0,18,13,...,2,6,2,2,2,0,1,1,1,1
14848,0.0,269,998,35.432732,-10.584159,3438,0,1,16,10,...,2,6,2,2,2,6,4,1,1,1
14849,0.0,264,481,34.765054,-11.226012,5054,0,1,16,10,...,2,6,2,0,0,8,6,0,1,1

In [38]:

rf_multi_class(x_train=X_train, y_train=y_train, x_test=X_validation, y_test=y_validation, test_set_values=X_test, test_users = X_test_users)

[RF]
          id    status_group
0      50785  non functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14845  39307  non functional
14846  18990      functional
14847  28749      functional
14848  33492      functional
14849  68707  non functional

[14850 rows x 2 columns]
Submission was successfully saved!

              precision    recall  f1-score   support

           0       0.82      0.90      0.86      1654
           1       0.57      0.33      0.42       234
           2       0.84      0.78      0.81      1082

    accuracy                           0.81      2970
   macro avg       0.74      0.67      0.69      2970
weighted avg       0.80      0.81      0.80      2970

Accuracy: 0.811785

[0.8117845117845118,
 0.8117845117845118,
 0.8117845117845118,
 0.8117845117845118,
 array([2, 0, 0, ..., 0, 0, 2], dtype=int64)]

### With the test data set

In [39]:
test_set_values = pd.read_csv("data/test_set_values.csv")
test_set_values

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,39307,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
14846,18990,1000.0,2011-03-21,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
14847,28749,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
14848,33492,0.0,2013-02-18,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
14849,68707,0.0,2013-02-13,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

In [40]:
# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('my_submission.csv', index=False)
# print("Submission was successfully saved!")
# output

In [43]:
predicts = pd.read_csv("my_submission.csv")
predicts

          id    status_group
0      50785  non functional
1      51630      functional
2      17168      functional
3      45559  non functional
4      49871      functional
...      ...             ...
14845  39307  non functional
14846  18990      functional
14847  28749      functional
14848  33492      functional
14849  68707  non functional

[14850 rows x 2 columns]