In [1]:
# Run this in Python once, it should take effect permanently
from notebook.services.config import ConfigManager
c = ConfigManager()
c.update('notebook', {"CodeCell": {"cm_config": {"autoCloseBrackets": False}}})

{'CodeCell': {'cm_config': {'autoCloseBrackets': False}}}

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data_values = pd.read_csv("data/training_set_values.csv")
data_labels = pd.read_csv("data/training_set_labels.csv")

test_set_values = pd.read_csv("data/test_set_values.csv")

In [4]:
user_id = ["id"]
X_cols = ['amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group']
Y_col = ["status_group"]

In [5]:
Users = data_values[user_id]
X = data_values[X_cols]
Y = data_labels[Y_col]

X_test = test_set_values[X_cols]

In [6]:
status_group_map = {"status_group": {"functional": 0, "functional needs repair": 1,"non functional": 2}}
Y = Y.replace(status_group_map)
# Y

In [7]:
df = pd.concat([ Users,Y, X], axis=1)
df

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,0,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,2,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,0,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

## Handling Missing Data

In [8]:
columns_with_nan_train = df.columns[df.isna().any()].tolist()
print("Columns with Missing Values in Train Dataset : ")
columns_with_nan_train

Columns with Missing Values in Train Dataset :

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [9]:
missing_df = df[columns_with_nan_train]
missing_df

,funder,installer,subvillage,public_meeting,scheme_management,scheme_name,permit
0,Roman,Roman,Mnyusi B,True,VWC,Roman,False
1,Grumeti,GRUMETI,Nyamara,NaN,Other,NaN,True
2,Lottery Club,World vision,Majengo,True,VWC,Nyumba ya mungu pipe scheme,True
3,Unicef,UNICEF,Mahakamani,True,VWC,NaN,True
4,Action In A,Artisan,Kyanyamisa,True,NaN,NaN,True
...,...,...,...,...,...,...,...
59395,Germany Republi,CES,Kiduruni,True,Water Board,Losaa Kia water supply,True
59396,Cefa-njombe,Cefa,Igumbilo,True,VWC,Ikondo electrical water sch,True
59397,NaN,NaN,Madungulu,True,VWC,NaN,False
59398,Malec,Musa,Mwinyi,True,VWC,NaN,True
59399,World Bank,World,Kikatanyemba,True,VWC,NaN,True

In [10]:
missing_df.isna().sum()

funder                3635
installer             3655
subvillage             371
public_meeting        3334
scheme_management     3877
scheme_name          28166
permit                3056
dtype: int64

In [11]:
# Drop the column 'scheme_name' since it has 28166 missing data cant impute such big number
# and scheme_name is not much important for prediction

df_dropped = df.drop('scheme_name', axis = 1)

# Drop the rows with missing data or nan
# df_dropped = df_dropped.dropna()

In [12]:
# df_dropped.isna().sum()

### Impute values

In [30]:
# df["funder"] = df["funder"].astype('category')
# df['funder'] = df['funder'].fillna((df['funder'].median()))
df_dropped = df_dropped[["funder"]].fillna("missing")
df_dropped
# df_dropped = df_dropped["installer"].fillna("missing")
# df_dropped = df_dropped["subvillage"].fillna("missing")
# df_dropped = df_dropped["public_meeting"].fillna("missing")
# df_dropped = df_dropped["scheme_management"].fillna("missing")
# df_dropped = df_dropped["permit"].fillna("missing")
# df_dropped.isna().sum()

KeyError: "None of [Index(['funder'], dtype='object')] are in the [index]"

In [14]:
# Impute values



# df = pd.get_dummies(df_dropped['funder',
#  'installer',
#  'subvillage',
#  'public_meeting',
#  'scheme_management',
#  'permit'])

def impute_missing_data_using_mean(dataframe, columns):

    for col in columns:
        if (dataframe[col].dtype != np.object ):
            dataframe[col] = dataframe[col].fillna((dataframe[col].mean()))
            print("Imputed with mean: ", col)
        print("Not Imputed with mean: ", col, dataframe[col].dtype)

    return dataframe

# train_data = impute_missing_data_using_mean(df,columns_with_nan_train)

In [15]:
# df = df_dropped
df

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,0,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,2,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,0,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [16]:
# df.isna().sum()

## Encoding

In [17]:
# columns with data type `object` needs to be encoded

obj_df = df.select_dtypes(include=['object']).copy()
obj_df

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,2013-05-03,Germany Republi,CES,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,Hai,Masama Magharibi,True,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,2011-05-07,Cefa-njombe,Cefa,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,Njombe,Ikondo,True,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,2011-04-11,NaN,NaN,Mashine,Rufiji,Madungulu,Mbeya,Mbarali,Chimala,True,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,2011-03-08,Malec,Musa,Mshoro,Rufiji,Mwinyi,Dodoma,Chamwino,Mvumi Makulu,True,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,2011-03-23,World Bank,World,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,Morogoro Rural,Ngerengere,True,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [18]:
obj_df.nunique()

date_recorded              356
funder                    1897
installer                 2145
wpt_name                 37400
basin                        9
subvillage               19287
region                      21
lga                        125
ward                      2092
public_meeting               2
recorded_by                  1
scheme_management           12
scheme_name               2696
permit                       2
extraction_type             18
extraction_type_group       13
extraction_type_class        7
management                  12
management_group             5
payment                      7
payment_type                 7
water_quality                8
quality_group                6
quantity                     5
quantity_group               5
source                      10
source_type                  7
source_class                 3
waterpoint_type              7
waterpoint_type_group        6
dtype: int64

### Label Encoding

In [19]:
obj_df.columns

Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
       'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [20]:
# df

In [21]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

# ord_enc = OrdinalEncoder()
# obj_df["waterpoint_type_group_code"] = ord_enc.fit_transform(obj_df[["waterpoint_type_group"]])
# obj_df[["waterpoint_type_group", "waterpoint_type_group_code"]].head(11)

obj_df = obj_df.apply(LabelEncoder().fit_transform)
obj_df

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,47,1369,1518,37399,1,11807,3,51,1426,1,...,0,6,2,1,1,8,6,0,1,1
1,309,469,545,37195,4,15838,9,103,1576,2,...,2,6,2,2,2,5,3,1,1,1
2,300,825,2048,14572,5,9074,8,108,1624,1,...,5,6,2,1,1,0,1,1,2,1
3,272,1741,1852,37285,7,8982,12,87,1571,1,...,2,6,2,0,0,3,0,0,2,1
4,104,20,119,35529,4,7698,4,26,1687,1,...,2,6,2,3,3,5,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,338,436,201,513,5,5681,6,16,1090,1,...,5,6,2,1,1,8,6,0,1,1
59396,90,177,265,24074,6,2980,3,91,353,1,...,0,6,2,1,1,6,4,1,1,1
59397,75,1897,2145,27926,6,8784,10,59,177,1,...,1,1,1,1,1,3,0,0,4,3
59398,41,884,1213,29693,6,14012,2,11,1449,1,...,2,6,2,2,2,7,5,0,4,3
59399,56,1865,2040,18700,8,5892,11,71,1610,1,...,3,4,4,1,1,7,5,0,4,3

In [22]:
encoded_cols = [ 'date_recorded', 'funder', 'installer', 'wpt_name',
       'basin', 'subvillage', 'region', 'lga', 'ward', 'public_meeting',
       'recorded_by', 'scheme_management', 'permit', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group']
df[encoded_cols] = obj_df[encoded_cols]
df

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,0,6000.0,47,1369,1390,1518,34.938093,-9.856322,37399,...,0,6,2,1,1,8,6,0,1,1
1,8776,0,0.0,309,469,1399,545,34.698766,-2.147466,37195,...,2,6,2,2,2,5,3,1,1,1
2,34310,0,25.0,300,825,686,2048,37.460664,-3.821329,14572,...,5,6,2,1,1,0,1,1,2,1
3,67743,2,0.0,272,1741,263,1852,38.486161,-11.155298,37285,...,2,6,2,0,0,3,0,0,2,1
4,19728,0,0.0,104,20,0,119,31.130847,-1.825359,35529,...,2,6,2,3,3,5,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,0,10.0,338,436,1210,201,37.169807,-3.253847,513,...,5,6,2,1,1,8,6,0,1,1
59396,27263,0,4700.0,90,177,1212,265,35.249991,-9.070629,24074,...,0,6,2,1,1,6,4,1,1,1
59397,37057,0,0.0,75,1897,0,2145,34.017087,-8.750434,27926,...,1,1,1,1,1,3,0,0,4,3
59398,31282,0,0.0,41,884,0,1213,35.861315,-6.378573,29693,...,2,6,2,2,2,7,5,0,4,3
59399,26348,0,0.0,56,1865,191,2040,38.104048,-6.747464,18700,...,3,4,4,1,1,7,5,0,4,3

# Training

## Random Forest

In [23]:
from sklearn import ensemble
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score, \
    f1_score, roc_auc_score, confusion_matrix

def rf_multi_class(x_train, y_train, x_test, y_test,test_set_values):
    print("\n[RF]")
    rf_clf = ensemble.RandomForestClassifier(n_estimators=200)

    rf_clf.fit(x_train, y_train.values.ravel())
    
    predictions = rf_clf.predict(test_set_values)
    print(predictions)
#     output = pd.DataFrame({'id': test_data.id, 'status_group': predictions})
#     output.to_csv('my_submission.csv', index=False)
#     print("Submission was successfully saved!\n")

    # rf_score = rf_clf.score(x_test, y_test)

    y_pred_test = rf_clf.predict(x_test)
    print(classification_report(y_test, y_pred_test))

    accuracy = accuracy_score(y_test, y_pred_test)
    print('Accuracy: %f' % accuracy)

    precision = precision_score(y_test, y_pred_test, average='micro')
#     print('Precision: %f' % precision)

    recall = recall_score(y_test, y_pred_test, average='micro')
#     print('Recall: %f' % recall)

    f1 = f1_score(y_test, y_pred_test, average='micro')
#     print('F1 score: %f' % f1)

    # auc = roc_auc_score(y_test, y_pred_test)
    # print('ROC AUC: %f' % auc)

    # matrix = confusion_matrix(y_test, y_pred_test)
    # print(matrix)

    return [accuracy, precision, recall, f1]

In [24]:
# df

In [25]:
df["status_group"].value_counts()

0    32259
2    22824
1     4317
Name: status_group, dtype: int64

In [26]:
y = df[["status_group"]]
X = df.drop(["id","status_group"], axis=1)

In [27]:
# Drop not wanted columns
# X = X.drop(["date_recorded"],axis = 1)

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(39798, 39) (19602, 39) (39798, 1) (19602, 1)

In [29]:
test_set_values = pd.read_csv("data/test_set_values.csv")



rf_multi_class(x_train=X_train, y_train=y_train, x_test=X_test, y_test=y_test, test_set_values=test_set_values)

[RF]

ValueError: could not convert string to float: 'Lemanyata pipe line'

### With the test data set

In [ ]:
test_set_values = pd.read_csv("data/test_set_values.csv")
test_set_values.isna().sum()

In [ ]:
# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('my_submission.csv', index=False)
# print("Submission was successfully saved!")
# output